body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background-color: #ffcacf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

ul.options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#li{
    background-color: #ff5768;
    padding: 15px;
    margin: 0;
    margin-right: 10px;
}

ul.options li {
    background-color: #f9f9f9;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    
}

ul.options li:hover {
    background-color: #f1f1f1;
}

